<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
<input type="text" name="email" id="email" placeholder="email">
<input type="password" name="password" id="password" placeholder="password">
<button id="sign-up">회원가입</button>
</body>
<script>
    document.querySelector("#sign-up").addEventListener("click", () => {
        // email, password를 가져온다.
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;

        // email, password를 JSON으로 만든다.
        const reqDTO = {
            email: email,
            password: password
        };

        // ApiController에서 작성한 회원가입 API를 호출한다.
        fetch("/api/v1/auth/sign-up", {
            // 요청 메소드
            method: "POST",
            // 헤더 정보
            headers: {
                "Content-Type": "application/json"
            },
            // 요청 바디
            body: JSON.stringify(reqDTO)
        })  // 응답을 JSON으로 파싱한다.
            .then(response => response.json())
            // 파싱된 데이터 확인
            .then((result) => {
                    // 응답 코드가 0이 아니면 에러 메시지를 출력한다.
                    if (result.code !== 0) {
                        alert(result.message);
                        return;
                    }
                    // 응답 코드가 0이면 메시지를 출력하고 메인 페이지로 이동한다.
                    alert(result.message);
                    window.location.href = "/";
                }
            )
    });
</script>
</html>